body, html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #eb9b2c; */
}

a{
    margin: 0px 20px 20px 0px;
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
    color: #132149;
    background-color: transparent;
    font-size: 13px;
    font-weight: bolder;
    
}

.nav-link a{
    color: #132149 !important;
}
.nav-link :hover{
    background-color: #132149;
    color: white;    
}
.nav-link a :hover{
    background-color: #132149;
    color: white; 
}

/* .myImage{
    margin-left: 55%;
} */

.aboutText{
    margin-left: 20%;
}

.texts{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.myLine{
    border-width: .2rem;
    /* border-color: #132149; */
}

footer{
    background-color: #132149;
    color: #eb9b2c;
    padding-top: 2rem;
    font-weight: bold;
}

@media (max-width: 768px){

    .footer{

    }
}

@media (max-width: 480px){
    .footer{
        font-size: 1rem;
    }
    

}



